$color-black-primary: #0d0d0d;
$color-black: #121212;
$color-white: #FFFFFF;
$color-grey-light: #979797;
$color-grey-dark-primary: #e7e7e7;
$color-grey-dark-secondary: #212121;
$color-grey-dark: #1E1E1E;
$color-red: #cf0b48;
$color-blue: #004FFF;
$color-blue-green: #10daf5;
$color-green: #3EA315;