@import "../styles/variables";

.app-wrapper {

    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
}

.sign {
    position: fixed;
    width: 100%;
    bottom: 1rem;
    text-align: center;
    color: var(--icon-color);
    z-index: 20;

    a {
        color: var(--icon-color);
    }
}