@import "../../styles/variables";

.current-weather-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--icon-color);

    .current-weather-contain {
        height: 55vh;
        width: 50rem;
        border-radius: 25px;
        background-color: var(--bg-light-color);
        margin-top: 5vh;
        padding: 2rem;
        display: flex;


        @media (min-width: 1900px) {
            width: 70rem;
        }

        @media (max-width: 992px) {
            width: 80%;
        }

        @media (max-width: 576px) {
            width: 90%;
        }

        .current-weather-content {
            width: 25rem;
            // background-color: RED;

            .current-weather-title {
                display: flex;
                flex-direction: column;

                h2 {
                    font-size: 2rem;
                }
            }

            .current-weather-main {
                width: 25rem;
                // background-color: pink;
                display: flex;

                .current-weather-img {
                    width: 12.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        height: 5rem;
                    }
                }



                .current-weather-degree {
                    width: 12.5rem;

                    p {
                        font-size: 5rem;
                    }

                    .span-degree {
                        font-weight: 700;
                    }
                }
            }

            .current-weather-info {}
        }


        .astronomy-content {
            width: 25rem;
            // background-color: yellow;
        }
    }
}