@import "../../styles/variables";

.search-wrapper {
    height: 5rem;
    width: 100%;
    // background-color: green;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;

    .search-bar {
        height: 2rem;
        width: 40rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: red;
        border-radius: 5px;

        svg {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.5rem;
            margin-left: 0.5rem;
        }

        input {
            height: 1.5rem;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background-color: transparent;
            border: none;
            outline: none;
        }
    }

    ul {
        height: 12rem;
        width: 40rem;
        background-color: pink;
        position: absolute;
        top: 8.4rem;
        display: none;
        overflow-x: hidden;

        li {
            height: 3rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 1px solid orange;

            svg {
                height: 2rem;
                margin: 0.5rem;
            }


            .city {
                p {}
            }
        }

        .city-selected {
            background-color: red;
        }
    }

    .show-search-results {
        display: block;
    }
}